body {
  font-family: "Nunito", sans-serif;
  background-image: url("./../images/backgroundTiling.png");
  margin: 0;
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -512px 0;
    }
  }

  background-position: 0px 0px;
  background-repeat: repeat;
  //animations
  animation: animatedBackground 6s linear infinite;
}