.sign-up-container {
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  letter-spacing: 7px;
  line-height: 46px;
  font-weight: 900;
  color: #5b4eff;
  margin-bottom: 42px;
}

.sign-up-or {
  margin: 0 25px;
  text-transform: uppercase;
  padding: 214px 0px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 7px;
  font-weight: 900;
  color: #5b4eff;
}

.sign-up-forms-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sign-up-forms-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: white;

  &__formik {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__formik &__field {
    display: flex;
    justify-content: center;
    width: 352px;
    height: 44px;
    font-size: 17px;
    color: #2e3238;
    padding-left: 1%;
    letter-spacing: 1px;
    border-radius: 10px;
    outline: none;
    background-color: #e2f5d6;
    border: none;
  }

  &__formik-button {
    background-color: #4aa810;
    color: #e2f5d6;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px#3e8c0d;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 20px;
    width: 352px;
    height: 44px;
    justify-content: center;
    align-items: center;
    &:active {
      opacity: 1;
      box-shadow: none;
      margin: 3px 0px -3px 0px;
    }

    &:focus {
      outline: none;
    }
  }
}

.sign-up-error {
  color: #f44336;
  font-size: 0.75rem;
  min-height: 1em;
  text-align: left;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.03333em;
  margin-left: 12%;
  align-self: flex-start;
  margin-bottom: 0px;
}

.firebaseui-idp-list > .firebaseui-list-item {
  margin-bottom: 56px !important;
}

.firebaseui-card-content {
  padding: 0px !important;
}

#firebaseui_container {
  width: 100%;
  margin: 26px auto 0;
}

.firebaseui-idp-google {
  // margin-top: 35px !important;
}

.firebaseui-idp-button {
  height: 44px !important;
  padding: 0.8rem !important;
  border: 0.5px solid rgb(214, 214, 214) !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px rgba(112, 112, 112, 0.3) !important;
  cursor: pointer !important;
  letter-spacing: 1px !important;
  max-width: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  &:active {
    box-shadow: none !important;
    margin: 38px 0px -3px 0px !important;
  }

  &:focus {
    outline: none !important;
  }
}

.sign-up-checkbox-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 321px;
  margin: 30px 30px 30px 0px;
  letter-spacing: -0.23px;
  font-size: 17px;
  &__terms-text {
  }
}

.sign-up-forms-field-title {
  margin: 0px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 10%;
  font-size: 1rem;
  font-weight: 1000;
  letter-spacing: 2px;
  margin-bottom: 3px;
  color: #4aa810;
  font-weight: 500;
}

.sign-up-forms-field {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-eye-stacking {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.sign-up-eye-icon {
  margin-left: -30px;
  cursor: pointer;
}

.sign-up-link {
  color: #7cd147;
  letter-spacing: -0.23px;
  font-weight: 400;
  &:hover {
    color: #4aa810;
  }
}

.sign-up-switch-account {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 30px;
}

.sign-up-firefly-nerd {
  // margin-top: 40px;
  padding-left: 270px;
  width: 128px;
  padding-top: 0px;
  transform: rotate(-11deg);
}

//Checkbox CSS
.sign-up-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sign-up-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.sign-up-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.sign-up-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.sign-up-checkbox-container input:checked ~ .checkmark {
  background-color: #4aa810;
}

/* Create the checkmark/indicator (hidden when not checked) */
.sign-up-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sign-up-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.sign-up-checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
